<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Skin bot</title>

	<link rel="stylesheet" href="css/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
	<div class="wraper">
		<div class="header">
			<div class="header-top">
				<h1 class="header__title">WELCOME TO MY 
					<span style="font-size: 15px; font-weight: bold;">SKIN<b style="color: #4a76a8;">BOT</b></span>
				</h1>
				<span class="my__balance">Balance: <b id="balance-js">$</b></span>
			</div>

			<div class="header__menu">
				<ul class="main-menu">

					<%if (isWorking == false) { %>
						<li class="main-menu__element"><a href="/start">START</a></li>
					<% } else { %>
						<li class="main-menu__element"><a href="/stop">STOP</a></li>
					<% } %>
					
					<li class="main-menu__element"><a href="#">Orders</a></li>
					<li class="main-menu__element"><a href="#">Create order</a></li>
				</ul>
			</div>
		</div>

		<div class="content">
			
			<table class="orders">
				<thead>
					<tr>
						<td>ID</td>
						<td>MARKET NAME</td>
						<td>PRICE</td>
						<td>PLACE IN QUEUE</td>
						<td>APP ID</td>
						<td>LAST CHECKED</td>
						<td>ACTIONS</td>
					</tr>
				</thead>

				<tbody id="orders__tbody-js"></tbody>

				<tfoot>
					<tr>
						<td>ID</td>
						<td>MARKET NAME</td>
						<td>PRICE</td>
						<td>PLACE IN QUEUE</td>
						<td>APP ID</td>
						<td>LAST CHECKED</td>
						<td>ACTIONS</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>


	<script src="js/app.js"></script>
</body>
</html>